/* Futuristic terminal styling */
body {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background: #000;
  color: #fff;
  line-height: 1.5;
}
body.light-mode {
  background: #fff;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items to the bottom */
  border-bottom: 2px solid #fff;
  padding-bottom: 0.5rem; /* Reduced padding */
}
body.light-mode header {
  border-bottom: 2px solid #000;
}
header .header-left {
  flex: 1;
  display: flex;
  align-items: flex-end; /* Align h1 to the bottom */
}
header .header-right {
  display: flex;
  align-items: center; /* Center the button vertically */
}
header,
section {
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 2rem; /* 1.5x scale */
  margin: 0; /* Remove margin */
  padding-bottom: 0rem; /* Reduced padding */
}
h2,
h3 {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}
body.light-mode h2,
body.light-mode h3 {
  border-bottom: 1px solid #000;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 0.5rem;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body.light-mode a {
  color: #000;
}
main {
  display: flex;
  gap: 2rem;
}
.left-column {
  flex: 7;
}
.right-column {
  flex: 3;
}
article {
  border: 1px dashed #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
body.light-mode article {
  border: 1px dashed #000;
}
.contact-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.dark-mode .btn {
  background-color: #000;
  color: #fff;
 
}

.dark-mode .language-selector {
  background-color: #000;
  color: #fff;
 
}
.contact-buttons .btn,
.header-right .btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s, color 0.3s;
}
body.light-mode .contact-buttons .btn,
body.light-mode .header-right .btn {
  border: 1px solid #000;
  color: #000;
}
.contact-buttons .btn i {
  margin-right: 0.5rem;
}
.contact-buttons .btn:hover,
.header-right .btn:hover {
  background: #fff;
  color: #000;
}
body.light-mode .contact-buttons .btn:hover,
body.light-mode .header-right .btn:hover {
  background: #000;
  color: #fff;
}

.job-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  margin-top: 5px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  text-align: right;
  padding-right: 5px;
  color: white;
  line-height: 20px; /* Align text vertically */
}

/* Media query for adaptive design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    flex: 1;
    width: 100%;
  }
}